body {
    background-image: url("..//images/pexel-trail.jpg");
    background-size: cover;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    opacity: 0.95;
}

body h1 {
    font-size: 40px;
    font-weight: bold;
    text-align:center;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.callout h3 {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.callout p {
    font-size: 24px;
    color: black;
}

div {
    border: 1px solid red;
}

#results-container {
    font-size: 24px;
    font-weight: bolder;
}

.result-cell {
    display: flex;
    width: 100%;
}