body {
    background-color: green;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hero img {
    background-position: center; 
    background-size: cover;
}
.callout {
    background-color: green;
    border-width: 15px;
    border-color: yellow;
}

.callout h3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.callout p {
    font-size: 24px;
    color: white;
}